<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Morphic</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

{{ template "header" . }}

<div class="toast-container" id="toastContainer"></div>

{{ template "converter_tab" . }}
{{ template "dupfinder_tab" . }}
{{ template "organizer_tab" . }}
{{ template "trash_tab" . }}
{{ template "settings_tab" . }}

{{ template "compare_modal" . }}
{{ template "preview_modal" . }}
{{ template "delete_modal" . }}

<script type="module" src="/static/js/main.js"></script>
</body>
</html>
